<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my app brah!</title>
  </head>
  <body>
    <h1>EJSSSSS</h1>



    <% training.forEach(function(training){ %>

      <h1> <%= training %> </h1>

    <% }); %>

  </body>
</html>
