<% include ./partials/header %>

  <h1>This is the new training page where you can create new trianings.</h1>

  <form action="/training" method="POST">
    <label>Training Date:</label> <input type="date" name="training[date]"> <br>
    <label>Training Time:</label> <input type="time" name="training[time]"> <br>
    <label>Course</label> <input type="text" name="course[name]"></input> <br>
    <label>Training Location:</label> <input type="text" name="training[location]"> <br>
    <input type="submit">
    <input type="submit" value="Add Another">
  </form> <br>

  <% training.forEach(function(training){ %>
      <p> <%= training.name %> </p>
      <p> <%= training._id %> </p>
    <% }); %>


<% include ./partials/footer %>
