<% include ./partials/header %>

  <form action="/users" method="POST">

    <label>First Name: <input type="text" name="user[firstname]"> </label> <br>
    <label>Last Name: <input type="text" name="user[lastname]"> </label> <br>
    <label>Okey username: <input type="text" name="user[username]"> </label> <br>
    <label>Title: <input type="text" name="user[title]"> </label> <br>
    <label>Password: <input type="text" name="user[password]"> </label> <br>
    <label>Department: <input type="text" name="user[department]"> </label> <br>
    <label>Clinic: <input type="text" name="user[clinic]"> </label> <br>
    <label>Email Address: <input type="text" name="user[emailAddress]"> </label> <br>
    <label>Instructor: <input type="text" name="user[instructor]"> </label> <br>
    <label>Manager: <input type="text" name="user[manager]"> </label> <br>
    <label>Cell Phone: <input type="number" name="user[phone]"> </label> <br>
    <!-- <label>Is a Manager: <input type="checkbox" name="users[isManager]"> </label> <br>
    <label>Is a Administrator <input type="checkbox" name="users[administrator]"> </label> <br> -->
    <input type="submit" value="Submit Here">

  </form>

<% include ./partials/footer %>
